@font-face {
  font-family: 'Merriweather', serif;
  src: url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:Roboto:300,300i,400,400i');
}

* {
  box-sizing: border-box;
}

body{
  background-color: #F2F1E8;
  width: 1280px;
}

.navbar {
  position: relative;
  background-color: #FFF;
  max-width: 1280px;
  height: 64px;
}

.logo {
  display: inline-block;
  text-align: left;
  background-image: url('../images/bent-creek-logo.png');
  background-size: cover;
  width: 48px;
  height: 46px;
  margin-left: 20px;
  margin-top: 10px

}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: -36px 454;
  padding: 0;
  position: relative;
}

li{
  z-index: 2;
  text-transform: uppercase;
  /*margin: 5px 0;*/
  font-family: 'Roboto';
  font-size: 18px;
}

li a{
  color: #2B2f26;
}
li:nth-of-type(1) a{
  margin: 0;
  color: #968772;
}

.page-title{
  font-family: 'Merriweather';
  text-align: center;
}

h1{
  font-size: 68px;
  font-weight: 400;
}

h2{
  font-size: 38px;
  font-weight: 100;
  margin-top: -32px;
}

.content{
  width: 100%;
  padding: 14px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-between;
  width: 100%;
}

.txt{
  color: #000;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

.pic{
  height: 357px;
  width: 233px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 5px;
}


#cacti {
  width: 57%;
  background-image: url('../images/product-1.jpg');
  background-position: top;
  flex: auto;
}

#sets{
  width: 18%;
  background-image: url('../images/product-2.jpg');
  background-position: center;
  flex: auto;
}

#textures{
  width: 18%;
  background-image: url('../images/product-3.jpg');
  background-position: bottom;
  flex: auto;
}

#blue{
  height: 238px;
  width: 18%;
  background-image: url('../images/product-4.jpg');
  background-position: left;
  flex-shrink: 2;
  flex: auto;
}

#jars{
  height: 238px;
  width: 18%;
  background-image: url('../images/product-5.jpg');
  flex-shrink: 2;
  background-position: left;
  flex: auto;
}

#brn-cup{
  height: 238px;
  width: 18%;
  background-image: url('../images/product-7.jpg');
  flex-shrink: 2;
  background-position: left;
  flex: auto;
}

#multiple{
 height: 238px;
  width: 33%;
  background-image: url('../images/product-6.jpg');
  flex-grow: 2;
  background-position: top;
  flex: auto;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #000;
  color: #FFF;
  text-align: left;
}
