@font-face {
  font-family: 'Merriweather', serif;
  src: url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:Roboto:300,300i,400,400i');
}

  * {
    box-sizing: border-box;
  }

  header{
    /*position: absolute;*/
    width: 1280px;
    /*padding-top: 64px;*/
  }

  .navbar {
    position: relative;
    background-color: #FFF;
    max-width: 1280px;
    height: 64px;
  }

  .logo {
    display: inline-block;
    text-align: left;
    background-image: url('../images/bent-creek-logo.png');
    background-size: cover;
    width: 48px;
    height: 46px;
    margin-left: 20px;
    margin-top: 10px

  }
  ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: -36px 460px;
    padding: 0;
    position: relative;
  }

  li{
    z-index: 2;
    text-transform: uppercase;
    /*margin: 5px 0;*/
    font-family: 'Roboto';
    font-size: 18px;
  }

  li a{
    color: #2B2f26;
  }
  li:nth-of-type(2) a{
    margin: 0;
    color: #968772;
  }

body{

}
