@font-face {
  font-family: 'Merriweather', serif;
  src: url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:Roboto:300,300i,400,400i');
}

  * {
    box-sizing: border-box;
  }
/*info on scrolling content behind navbar--https://stackoverflow.com/questions/9677894/header-div-stays-at-top-vertical-scrolling-div-below-with-scrollbar-only-attach*/
  header{
    position: fixed;
    width: 1280px;
    top: 0;
    left: 0;
  }

  .navbar {
    position: relative;
    background-color: #FFF;
    max-width: 1280px;
    height: 64px;
    box-shadow:  1px 1px 2px 1px #ddd;
  }

  .logo {
    display: inline-block;
    text-align: left;
    background-image: url('../images/bent-creek-logo.png');
    background-size: cover;
    width: 48px;
    height: 46px;
    margin-left: 20px;
    margin-top: 10px;
  }

  ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: -36px 460px;
    padding: 0;
    position: relative;
  }

  li{
    z-index: 2;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 18px;
  }

  li a{
    color: #2B2f26;
  }
  li:nth-of-type(2) a{
    margin: 0;
    color: #968772;
  }

li a:hover{
  color: #CD5D67;
}

body{
  background-color: #F3F1E8;
  width: 1280px;
  padding-top: 64px;
}

h1{
  font-family: 'Merriweather';
  font-size: 66px;
  font-weight: 400;
  text-align: center;
  margin: 70px auto;
}

section{
  margin: 0 196px;
}

.sm-pic{
  float: left;
  height: 116px;
  width: 155px;
  margin-right: 30px;
  margin-bottom: 24px;
  background-image: url('../images/birdhouse.jpg');
  background-size: cover;
}

p{
  font-family: 'Merriweather';
  font-size: 20px;
  line-height: 1.9;
}

.txt-link{
  color: #968772
}

.txt-link:hover{
 color: #CD5D67;
}

blockquote{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: lighter;
  border-left: 2px solid #988770;
  padding-left: 28px;
  line-height: 1.8;
}

.clear{
  clear: both;
}

h4{
  font-family: 'Merriweather';
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 14px;
}

.cactus-pic{
  background-image: url('../images/background-3.jpg');
  background-size: cover;
  background-position: center;
  width: initial;
  height: 320px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aside-pic{
  display: block;
  float: right;
  height: 120px;
  width: 160px;
  background-image: url('../images/background-1.jpg');
  margin-right: 5px;
  margin-top: 15px;
  margin-left: 26px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  /*padding-top: 65px;*/
}

figcaption{
  display: block;
  clear: right;
  float: right;
  text-align: left;
  width: 160px;
  font-family: 'Merriweather';
  font-size: 12px;
  line-height: 1.6;
  color: #000;
  font-weight: lighter;
  margin-top: auto;
  padding-top: 10px;
  margin-left: 22px;
}

#shelf-txt{

}

/*p:last-of-type{
  clear: right;
  float: left;
}*/

table{
  display: table;
  flex-flow: row wrap;
  /*width: 100%;
  height: 60px;*/
  background-color: #F3F1E8;
  color: #000;
  font-family: 'Merriweather';
  font-size: 18px;
  text-align: left;
  padding-right: 194px;
  width: 692px;
  height: 244px;
  margin-bottom: 55px;
  border-collapse: collapse;
  border: 1px solid black;
}
tr:first-of-type{
  text-align: center;
}

tr:nth-of-type(2n){
  background-color: #F3EADB;
}
tr{
  height: 60px;
}
td{
  border: 1px solid black;
  padding-left: 15px;

}

footer {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #2A3026;
  color: #DEE0C4;
  font-family: 'Merriweather';
  font-size: 28px;
  font-weight: lighter;
  padding-left: 28px;
  text-align: left;
}

.fa{
  vertical-align: super;
  font-size: 12px;
}
