@font-face {
  font-family: 'Merriweather', serif;
  src: url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:Roboto:300,300i,400,400i');
}

  * {
    box-sizing: border-box;
  }

  /*info on scrolling content behind navbar--https://stackoverflow.com/questions/9677894/header-div-stays-at-top-vertical-scrolling-div-below-with-scrollbar-only-attach*/
  header{
    position: fixed;
    width: 1280px;
    top: 0;
    left: 0;
    }

  .navbar {
    position: absolute;
    background-color: #FFF;
    width: 1280px;
    height: 64px;
    box-shadow:  1px 1px 2px 1px #ddd;
  }

  .logo {
    position: absolute;
    display: inline-block;
    text-align: left;
    background-image: url('../images/bent-creek-logo.png');
    background-size: cover;
    width: 48px;
    height: 46px;
    margin-left: 20px;
    margin-top: 10px

  }
  ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 20px 460px;
    padding: 0;
    position: relative;
  }

  li{
    z-index: 2;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 18px;
  }

  li:nth-of-type(3) a{
    margin: 0;
    color: #968772;
  }

  li a{
    color: #2B2f26;
  }

  li a:hover{
    color: #CD5D67;
  }

  body{
    color: #131511;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #F3F1E8;
    min-height: 100vh;
    width: 1280px;
    background-image: url('../images/background-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 64px;
  }

form{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.white-box{
  height: 380px;
  width: 612px;
  background-color: #FFF;
  margin: 0 auto;
}

h1{
  font-family: 'Merriweather';
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
}

h3{
  font-family: 'Merriweather';
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}

section{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
input{
  border-bottom: 2px solid #8B7758;
  flex: 1 1 80%;
  margin: 10px 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 24px;
  margin-bottom: 20px;
}

section{
  display: flex;
  flex: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#signupButton{
  align-items: center;
}

button{
 background-color: #8B7758;
 color: #F2F1E8;
 width: 127px;
 height: 55px;
 margin: 0 auto;
 margin-top: 20px;
 font-size: 16px;
 border-style: none;
}

button:hover{
  background-color: #967343;
  color: #FFF;
}
